.gpm-banner {
  display: flex;
  color: black;
  text-align: center;
  padding: 32px;
  border-bottom: solid 3px black;
}

.App-logo {
  width: 2%;
  height: 2%;
}

.gpm-logo {
  width: 7%;
  margin-right: 40px;
  margin-left: 15px;
}

.gpm-title {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 2%;
}
