.formcontrol {
  border: #e86cb8 solid 1px;
  margin-left: 35px;
  padding-left: 25%;
}

.form-group {
  background-color: #065dd8;
  width: 54%;
  border-radius: 15px;
}

input {
  text-decoration: #ffffff;
  color: #ffffff;
  border: #065dd8;
  background-color: #065dd8;
  text-decoration: none;
  margin: 10px;
}

::placeholder {
  color: #ffffff;
  text-decoration: none;
}

.signbutton {
  text-align: center;
  width: 30%;
  padding: 10px;
  border-radius: 15px;
  margin-right: 42%;
  background-color: #4f51c3;
}
