button {
  margin: 10px;
  background-color: rgb(34, 74, 175);
  color: aliceblue;
  border-radius: 15px;
  width: 100px;
}

* {
  background-color: rgb(241, 242, 240);

  font-family: 'Roboto', sans-serif;
}

/* li {
  display: none;
} */

.card-cont {
  /* border: 1px solid rgb(13, 242, 36); */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: auto;
  margin: 20px;
}

.card-body {
  border: 4mm ridge rgba(121, 121, 121, 0.6);
  width: 60%;
  height: auto;
  margin: 20px;
  text-align: center;
  border-radius: 5px;
}

.card-title {
  border: 1px solid rgb(58, 58, 58);
  padding-bottom: 5px;
  color: rgb(25, 13, 242);
}

.card-text {
  /* border: 1px solid rgb(50, 50, 50); */
  padding-top: 10px;
  padding-bottom: 10px;
  color: rgb(0, 0, 0);
}

.boutoModif:hover {
  background-color: #03cc14;
  color: rgb(16, 16, 16);
}

.boutoSupp:hover {
  background-color: #fd0000;
  color: rgb(16, 16, 16);
}
